.card
  .card-header
    | Chair
  .card-body
    address.card-text
      strong Prof.-Dr. Jürgen Döllner
      br
      | Computer Graphics Systems
      br
      br
      | Hasso-Plattner-Institut für Digital Engineering gGmbH
      br
      | Prof-Dr.-Helmert-Str. 2-3
      br
      | 14482 Potsdam, Germany
    address.card-text
      strong Assistant: Johanna Westphal 
      br
      | Room: H-2.15 
      br
      | Tel: +49 (0)331 5509-170
      br
      | Fax: +49 (0)331 5509-172
      br
      | Email: #[a(href="mailto:office-doellner@hpi.de") office-doellner@hpi.de]

.card
  .card-header 
    | Video Teaser
  .card-body
    figure.figure.card-text
      a(href="https://www.youtube.com/watch?v=EoqGXkut0A0",target="_blank")
        img(src=require("../source/images/vlcsnap-2019-10-28.png")).figure-img.img-fluid
      figcaption.figure-caption
        a(href="https://www.youtube.com/watch?v=EoqGXkut0A0",target="_blank")
          | Video of the research group
