extends /template/newsentry.pug

block newsvariables
  - var newskey = '2022-10-17-paper-accepted-for-eccv-2022';

//-
  block date
    | [date]
  
  block title
    | [title]

block newscontent
  p.card-text
    | The paper #[a(href="https://ivpg.hpi3d.de/wise/") "WISE: Whitebox Image Stylization by Example-based Learning"]
    | authored by Winfried Lötzsch*, Max Reimann*, Martin Büßemeyer, Amir Semmo,
    | Jürgen Döllner and Matthias Trapp (*denotes equal contribution) was accepted
    | for publication on the European Conference for Computer Vision (ECCV 2022).
    | It will be presented on the 23-27 Oct in Tel Aviv, Israel.

  p.card-text
    | Links: 

  ul.card-text
    li
      a(href="https://ivpg.hpi3d.de/wise/") Link to the project website
    li
      a(href="https://arxiv.org/abs/2207.14606") Link to the arxiv paper
    li
      a(href="https://eccv2022.ecva.net/") Link to the conference website
